.body {
    background-color: red;
}

.header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.navbar {
    background-color: green;
}

.box {
    background-color: rgb(255, 154, 2);
    margin-top: 10px;
    border: 10px solid green;
    

}

.pokemon-icon {
    border: 2px solid #4CAF50;
    border-radius: 50%;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: red;
    border: 2px solid red;
    width: 50px;
    height: 50px;
    padding: 70px;
}

.scroll-to-top img {
    width: 60px;
    height: 80px;
    border: 2px solid green;
    border-radius: 100%;
    background-color: rgb(255, 45, 45);
}